@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Montserrat Alternates', sans-serif;
        min-height: 100vh;
    }
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

#root {
    @apply flex flex-col flex-1;
}
.active {
    @apply text-secondary dark:text-secondaryDark;
}
.input {
    @apply px-3 py-2 rounded-md bg-third dark:bg-thirdDark  focus:ring-primary dark:focus:ring-primaryDark border-2 border-primary/50 dark:border-primaryDark/50 focus:border-primary dark:focus:border-primaryDark  outline-none;
}
.btn {
    @apply px-3 py-2 bg-primary dark:bg-primaryDark rounded-md font-medium text-white hover:ring-2 ring-offset-primary ring-primary;
}
.btn-del {
    @apply px-3 py-2 bg-red rounded-md font-medium text-white hover:ring-2 ring-offset-red ring-red;
}
.btn-suc {
    @apply px-3 py-2 bg-green rounded-md font-medium text-white hover:ring-2 ring-offset-green ring-green;
}
label {
    @apply text-lg font-medium;
}
.page {
    @apply bg-background dark:bg-backgroundDark dark:text-white flex-1;
}
