@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Montserrat Alternates', sans-serif;
        min-height: 100vh;
        margin-right: calc(-1 * (100vw - 100%));
        overflow-x: hidden;
    }
    body {
        @apply flex flex-col min-h-screen bg-primary dark:bg-primaryDark;
    }
}

select {
    @apply appearance-none;
}
#root {
    @apply flex flex-col flex-1;
}
.active {
    @apply underline underline-offset-8 text-white;
}
.input {
    @apply placeholder:text-white/50 px-3 py-2 rounded-md bg-secondary dark:bg-secondaryDark  focus:ring-primary dark:focus:ring-primaryDark border-2 border-primary/50 dark:border-primaryDark/50 focus:border-primary dark:focus:border-primaryDark  outline-none;
}
.select {
    @apply p-2 rounded-md bg-secondary dark:bg-secondaryDark  focus:ring-primary dark:focus:ring-primaryDark border-2 border-primary/50 dark:border-primaryDark/50 focus:border-primary dark:focus:border-primaryDark  outline-none;
}
.btn {
    @apply px-3 py-2 text-black bg-primary dark:bg-blue rounded-md font-medium dark:text-white hover:ring-2 ring-offset-primary dark:ring-offset-blue ring-primary dark:ring-blue disabled:opacity-50 disabled:cursor-not-allowed;
}
.btn-del {
    @apply px-3 py-2 bg-redLight dark:bg-red rounded-md font-medium text-white hover:ring-2 ring-offset-redLight ring-redLight dark:ring-offset-red dark:ring-red;
}
.btn-suc {
    @apply px-3 py-2 bg-greenLight dark:bg-green rounded-md font-medium text-white hover:ring-2 ring-offset-greenLight ring-greenLight dark:ring-offset-green dark:ring-green;
}
label:not([for='image']) {
    @apply text-lg font-medium;
}
.page {
    @apply bg-background dark:bg-backgroundDark dark:text-white flex-1;
}
.soups {
    @apply bg-categorySoups dark:bg-categorySoupsDark;
}
.main {
    @apply bg-categoryMain dark:bg-categoryMainDark;
}
.salads {
    @apply bg-categorySalads dark:bg-categorySaladsDark;
}
.desserts {
    @apply bg-categoryDesserts dark:bg-categoryDessertsDark;
}
.white-shadow {
    @apply after:content-[''] after:w-10 after:h-full after:absolute after:top-0 after:-right-2 after:bg-gradient-to-r from-background/10 to-background dark:from-backgroundDark/10 dark:to-backgroundDark;
}
.error {
    @apply text-sm font-light text-red;
}
